@font-face {
    font-family: "Recoleta";
    src: url(./fonts/RecoletaAlt-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Recoleta";
    src: url(./fonts/RecoletaAlt-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Recoleta";
    src: url(./fonts/RecoletaAlt-SemiBold.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}


body {
    font-family: "Recoleta";
    font-size: 18px;
    color: #3c0094;
}

.purple-1 {
    background-color: #3c0094;
}

.purple-2 {
    background-color: #7e10ff;
}

.logo {
    height: 250px;
}

.nav-link.active {
    border-bottom: solid 6px #7e10ff;
}

.hero, .intro {
    padding: 5%;
}

.hero {
    background: url(./assets/SP-hero-img.png) no-repeat center center;
    background-size: cover;
}

.diamond {
    height: 350px;
    width: 350px;
    transform: rotate(45deg);
    font-size:50px;
}

.content{
  transform: rotate(-45deg);
}

h1 {
    font-weight: bold;
}

.small-print {
    font-size: 15px;
}

.cta {
    background-color: #3c0094;
    color: #ffffff;
    font-size: 24px;
    border-radius: 0;
    border: #7e10ff 6px solid;
}

.intro-img-container {
    bottom: -400px;
    left: -30%;
}

.intro-img {
    height: 800px;
}

.spacer {
    height: 100px;
}

.point {
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    bottom: -50px;
    left: 25%;
}

.red {
    background-color: #ff1220;
}

.yellow {
    background-color: #ffb833;
}

.purple-3 {
    background-color: #b173ff;
}

.points-info {
    background: url(./assets/points-info.png) no-repeat center bottom;
    background-size: cover;
    height: 90vh;
}

.social img {
    min-height: 30px;
} 

.footer {
    height: 300px;
}

.footer-img-container {
    bottom: -300px;
    right: 0;
}

.footer-img {
    height: 550px;
}