@font-face {
    font-family: "Recoleta";
    src: url(./fonts/RecoletaAlt-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Recoleta";
    src: url(./fonts/RecoletaAlt-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Recoleta";
    src: url(./fonts/RecoletaAlt-SemiBold.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: "Recoleta";
    font-size: 18px;
    color: #3c0094;
}

/* general colors */

.purple-1 {
    background-color: #3c0094;
}

.purple-2 {
    background-color: #7e10ff;
}

.red {
    background-color: #ff1220;
}

.yellow {
    background-color: #ffb833;
}

.purple-3 {
    background-color: #b173ff;
}


.logo {
    height: 250px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


.nav-link.active {
    border-bottom: solid 6px #7e10ff;
}

.hero {
    background: url(./assets/SP-hero-img.png) no-repeat center center;
    background-size: cover;
}

.diamond {
    height: 40vh;
    width: 40vh;
    transform: rotate(45deg);
    font-size:50px;
}

.diamond-content{
  transform: rotate(-45deg);
}

.small-print {
    font-size: 15px;
}

.cta {
    background-color: #3c0094;
    color: #ffffff;
    font-size: 24px;
    border-radius: 0;
    border: #7e10ff 6px solid;
}

.spacer {
    height: 100px;
}

.point {
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    bottom: -50px;
    left: 25%;
}

.points-info {
    background: url(./assets/points-info.png) no-repeat center bottom;
    background-size: cover;
    height: 90vh;
}

.info {
    height: 30vh;
}

.pointer {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 15px solid #7e10ff;
    transform: rotate(90deg);
}

.read-more {
    color: #b173ff;
}

.footer {
    height: 300px;
}

.footer-img-container {
    bottom: -300px;
    right: 0;
}

.footer-img {
    height: 550px;
}

.social img {
    min-height: 30px;
} 

@media only screen and (max-width:1439px){
    .info {
        height: 50vh;
    }
}

@media only screen and (max-width:768px){

    .point {
        height: 50px;
        width: 50px;
        transform: rotate(45deg);
    }

    .points-info {
        height: auto;
    }

    .info {
        height: auto;
    }
}

/* mobile */

@media only screen and (max-width:576px) {

    .logo {
        height: auto;
    }

    .diamond {
        width: 30vh;
        height: 30vh;
    }

    .diamond-content h1 {
        font-size: 25px;
    }

    .points-info {
        height: auto;
    }

    .footer {
        height: auto;
    }

}